{% extends 'index.html' %}
{% load static %}

{% block options %}
{% endblock %}

{% block content %}
<div class="row m-b-25">
    <div class="col-lg-12">
        <form id="f-reporte" class="row justify-content-end" autocomplete="off">
            <div class="col-lg-10 col-md-9">
                <h5 class="m-t-30 m-b-0">Valores</h5>
                <br>
                <p>Los resultados de la prueba son:</p>
                <br>
            </div>
            <div class="col-lg-2 col-md-3 form-group">
            </div>
        </form>
    </div>

    <div class="col-md-12">
        <div class="card m-b-0 b-r-0">
            <div class="card-body">
                <div class="row">
                    <h6>1.- getClientIds:</h6>
                    <div class="col-md-12">
                        <p>{{data.getClientIds}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-b-0 b-r-0">
            <div class="card-body">
                <div class="row">
                    <h6>2.- getClientSortByRut:</h6>
                    <div class="col-md-12">
                        <p>{{data.getClientSortByRut}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-b-0 b-r-0">
            <div class="card-body">
                <div class="row">
                    <h6>3.- getClientSortByRentExpenses:</h6>
                    <div class="col-md-12">
                        <p>{{data.getClientSortByRentExpenses}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-b-0 b-r-0">
            <div class="card-body">
                <div class="row">
                    <h6>4.- getCompanyClientsSortByNames:</h6>
                    <div class="col-md-12">
                        <p>{{data.getCompanyClientsSortByNames}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-b-0 b-r-0">
            <div class="card-body">
                <div class="row">
                    <h6>5.- getExpensesSortByAmount:</h6>
                    <div class="col-md-12">
                        <p>{{data.getExpensesSortByAmount}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-b-0 b-r-0">
            <div class="card-body">
                <div class="row">
                    <h6>6.- getCompaniesSortByProfits:</h6>
                    <div class="col-md-12">
                        <p>{{data.getCompaniesSortByProfits}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-b-0 b-r-0">
            <div class="card-body">
                <div class="row">
                    <h6>7.- getCompanyClientsNumber:</h6>
                    <div class="col-md-12">
                        <p>{{data.getCompanyClientsNumber}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-b-0 b-r-0">
            <div class="card-body">
                <div class="row">
                    <h6>8.- getClientsWithLessExpense:</h6>
                    <div class="col-md-12">
                        <p>{{data.getClientsWithLessExpense}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-b-0 b-r-0">
            <div class="card-body">
                <div class="row">
                    <h6>9.- newClientRanking:</h6>
                    <div class="col-md-12">
                        <p>{{data.newClientRanking}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block style %}
<style type="text/css">
    .input-group-append-sm {
        height: calc(1.5em + .5rem + 2px);
    }


    .card-header {
        padding: 10px 20px !important;
    }

    .card .card-body {
        padding: 25px;
    }

    .dataTables_wrapper .top {
        display: none !important;
    }

    div.dataTables_wrapper div.dataTables_info {
        padding-top: 0px;
    }
    .dataTables_paginate.paging_simple_numbers{
        font-size: 10px !important;
    }

    .title-table{
        color: #5e5e5e;
        font-weight: normal;
        font-size: 14px;
    }
</style>
{% endblock %}

{% block script %}
<script type="text/javascript">
</script>
{% endblock %}




