{% extends 'index-account.html' %}
{% load static %}

{% block content %}
<div class="authentication-main mt-0">
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="auth-innerright auth-minibox">
                <div class="reset-password-box">
                    <div class="text-center">
                        <img class="img-fluid" src="{% static 'assets/images/logo/logo.png' %}" width="300">
                    </div>
                    <div class="card mt-4 mb-0">
                        <h4>Reestablecer Contraseña</h4>
                        {% if validlink %}
                        <form class="theme-form"  method="post">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group">
                                <label class="col-form-label">{{field.label}}</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="form-control form-control-sm"
                                            id="{{field.name}}"
                                            name="{{field.name}}"
                                            placeholder="{{field.label}}"
                                            minlength="8"
                                            type="password" />
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="form-group mt-3 mb-0">
                                <button class="btn btn-primary btn-block" type="submit">Restablecer contraseña</button>
                            </div>
                        </form>
                        {% else %}
                        <div>
                            <p>
                                El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se ha utilizado.
                                Solicite nuevamente restablecer su contraseña.
                            </p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
<style type="text/css">
    form .form-group {
        margin-bottom: 15px;
    }

    form .form-group input.error,
    form .form-group label.error {
        margin: 0px;
    }

    form .form-group .container-error {
        height: 15px;
    }

    form .form-group .container-error,
    form .form-group .container-error label {
        color: #ff5b57 !important;
        font-weight: 400;
        font-size: 12px;
    }


    .cont {
        width: 500px;
    }
</style>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function () {});
</script>
{% endblock %}

